@import url("https://fonts.googleapis.com/css?family=Fjalla+One");
@import url('https://fonts.googleapis.com/css?family=Merriweather');
body {
  background-color: #f7f7f7;
}
.bill-container {
  text-align: center;
  width: 45%;
  margin-left: 25%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 400px;
  margin-bottom: 40px;
}
.bill-container h1 {
  padding: 20px;
}

.bill-container form input.error {
  border-color: red;
}

.bill-container form {
  margin-bottom: 10px;
}
.bill-container form button:disabled {
  background-color: #dbf99f;
  color: #333;
}

.bill-container form button {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: "Fjalla One", sans-serif;
}
.bill-container input {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 40px;
  line-height: 50px;
}

@media screen and (max-width: 400px) {
  #bll {
    width: 80%;
    margin-left: 10%;
  }
  #graph {
    width: 80%;
    margin-left: 10%;
  }
  .bill-container input {
    width: 100%;
  }
  .bill-container {
    width: 80%;
    margin-left: 10%;
  }
  #bill-show {
    width: 80%;
    margin-left: 10%;
  }
  #created {
    width: 80%;
    margin-left: 10%;
  }
}

.bill-list {
  text-align: center;
  width: 45%;
  margin-left: 25%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 400px;
  margin-bottom: 40px;
}
.bill-graph {
  text-align: center;
  width: 45%;
  margin-left: 25%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 400px;
  margin-bottom: 40px;
}


.bill-show {
  background-color: white;
  padding: 10px;
  margin-top: 5px;
  display: flex;
  text-align: center;
  width: 45%;
  margin-left: 25%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.bills1 {
  text-transform: lowercase;
  font-family: "Crimson Text", serif;
  color: #3a6186;
}
.bills1::first-letter {
  text-transform: uppercase;
  font-weight: bold;
}
.bills2 {
  margin-left: 7px;
  text-transform: lowercase;
  font-family: "Crimson Text", serif;
  color: #3a6186;
}
.bills2::first-letter {
  text-transform: uppercase;
  font-weight: bold;
}
.bills3 {
  margin-left: 7px;
  text-transform: lowercase;
  font-family: "Crimson Text", serif;
  color: #b29999;
  font-weight: bold;
}

.created {
  background-color: white;
  padding: 10px;
  margin-top: 5px;
  display: flex;
  text-align: center;
  width: 45%;
  margin-left: 25%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.created1 {
  text-transform: lowercase;
  font-family: "Crimson Text", serif;
  color: #3a6186;
}
.created1::first-letter {
  text-transform: uppercase;
  font-weight: bold;
}
.created2 {
  margin-left: 7px;
  text-transform: lowercase;
  font-family: "Crimson Text", serif;
  color: #3a6186;
}
.created2::first-letter {
  text-transform: uppercase;
  font-weight: bold;
}
.created3 {
  margin-left: 7px;
  text-transform: lowercase;
  font-family: "Crimson Text", serif;
  color: #b29999;
  font-weight: bold;
}